.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group textarea {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>textarea,
.form-label-group>label {
  padding: var(--textarea-padding-y) var(--textarea-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group textarea::-webkit-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-textarea-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: calc(var(--textarea-padding-y) + var(--textarea-padding-y) * (2 / 3));
  padding-bottom: calc(var(--textarea-padding-y) / 3);
}

.form-label-group textarea:not(:placeholder-shown)~label {
  padding-top: calc(var(--textarea-padding-y) / 3);
  padding-bottom: calc(var(--textarea-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group textarea::-ms-textarea-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group textarea:-ms-textarea-placeholder {
    color: #777;
  }
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
    
}