<!doctype html>
<html lang="en">
  <head>
    <title>Đăng ký</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/logo.png">
<script src="db/angular.min.js"></script>
<script src="db/Students.js"></script>
     <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="myapp"ng-controller="dkctrl">

    <div class="container-fluid">
     
  
        <div class="row">
            <div class="col-9">
              <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                  <div class="card card-signin flex-row my-5">           
                    <div class="card-body">
                      <h5 class="card-title text-center">ĐĂNG KÝ</h5>
                      <form class="form-signin" ng-submit="insert()"name="frmSignin">
                        <div class="form-label-group">
                          <input type="text" id="inputUserame" name="user"class="form-control"ng-model="student.username" placeholder=" Tên Username"  ng-minlength="3" ng-maxlength="5" required autofocus>
                          <label for="inputUserame"> Tên Username</label>
                          <div class="badge badge-danger ml-4 mt-2" ng-show="frmSignin.user.$touched&&frmSignin.user.$invalid">
                            Nhập Username
                        </div>
                        </div>
                  
                        <div class="form-label-group">
                          <input type="text" id="inputfullname" class="form-control" name="name"ng-model="student.fullname"placeholder=" Họ và tên " required>
                          <label for="inputfullname">  Họ và tên </label>
                          <div class="badge badge-danger ml-4 mt-2" ng-show="frmSignin.name.$touched&&frmSignin.name.$invalid">
                            Nhập Họ và tên
                        </div>
                        </div>
                        <div class="form-label-group">
                          <input type="email" id="inputEmail" class="form-control" name="email"ng-model="student.email"placeholder=" Địa chỉ Email " required>
                          <label for="inputEmail"> Địa chỉ Email </label>
                          <div class="badge badge-danger ml-4 mt-2" ng-show="frmSignin.email.$touched&&frmSignin.email.$invalid">
                            Nhập Địa chỉ Email
                        </div>
                        </div>
                  
                        <div class="form-label-group">
                          <input type="password" id="inputPassword" class="form-control" name="pass" ng-model="student.password"placeholder="Mật khẩu"  ng-minlength="3" ng-maxlength="5"  required>
                          <label for="inputPassword">Mật khẩu</label>
                          <div class="badge badge-danger ml-4 mt-2" ng-show="frmSignin.pass.$touched&&frmSignin.pass.$invalid">
                            Nhập Mật khẩu
                        </div>
                        </div> 
         
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="submit">Đăng ký</button>
                        <a class="d-block text-center mt-2 small" href="login.html">Đăng Nhập</a>
                        <hr class="my-4">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        
      
        </div>
     </div>
     <script src="db/Students.js"></script>
     <script>
       angular.module("myapp",[]).controller("dkctrl",function($scope){
        $scope.student={};
          $scope.index=-1;
        $scope.$parent.students =  [
    {
        "username": "teonv",
        "password": "iloveyou",
        "fullname": "Nguyễn Văn Tèo",
        "email": "teonv@fpt.edu.vn"
     
    },
    {
        "username": "pheonv",
        "password": "iloveyou",
        "fullname": "Nguyễn Văn Chí Phèo",
        "email": "pheonv@fpt.edu.vn"
     
    },
    {
        "username": "nopt",
        "password": "iloveyou",
        "fullname": "Phạm Thị Nở",
        "email": "nopt@fpt.edu.vn"
     
    }
    ];
            $scope.insert=function(){
                $scope.students.push(angular.copy($scope.student));
                sessionStorage.setItem("username",$scope.student.username);
                sessionStorage.setItem("password",$scope.student.password);
                sessionStorage.setItem("fullname",$scope.student.fullname);
                sessionStorage.setItem("email",$scope.student.email);
                document.location='login.html';
            }
       });
     </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>