<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">

    <div class="card card-signin my-5 rounded"style="border-radius: 10%;">
      <div class="card-body">
        <h5 class="card-title text-center"><i class="fa fa-user" aria-hidden="true"></i>
                ĐỔI MẬT KHẨU</h5>
        <form class="form-signin">
          
         

              <div class="form-label-group">
                <input type="password" id="inputPassword" ng-model="pass"class="form-control" placeholder="Mật khẩu" required>
                <label for="inputPassword">Mật khẩu </label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" ng-model="newpass"class="form-control" placeholder="Nhập Lại Mật Khẩu" required>
                <label for="inputConfirmPassword">Nhập Lại Mật Khẩu</label>
              </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Nhớ Mật Khẩu</label>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="update()"type="submit">Cập Nhật</button>
          <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="reset">Hủy</button>

          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>