
  <div class="row">
    <div class="col-6 mt-4 view overlay zoom"ng-repeat="p in monhoc |limitTo:4:start">
      <div class="card"style="border-radius: 10%;" >
     
          <div class="card-body ">
           <img src="images/{{p.Logo}}" alt=""  >
           <div class="card-title "> 
            <b>  {{p.Name}}</b> <br>
            Test online-Chắc kiến thức vững tương lai
          </div>
          </div>
     
          <div class="card-footer text-muted">
        <a href="#!tn/{{p.Id}}/{{p.Name}}">   <button type="button" class="btn btn-primary">Test ngay</button></a>
         
        </div>
      </div>
    </div>
   </div>
   <div class="row  mt-4">
    <nav aria-label="Page navigation example" class="m-auto">
        <ul class="pagination">
         <button ng-click="truoc()" type="button"><i class="fa fa-arrow-left text-primary " aria-hidden="true"></i>
         </button>
         <button ng-click="tiep()" type="button"><i class="fa fa-arrow-right text-primary " aria-hidden="true"></i>
         </button>
        </ul>
      </nav>
  </div>


    
