<!doctype html>
<html lang="en">
  <head>
    <title>Quên mật Khẩu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="/images/logo.png">
    <script src="db/angular.min.js"></script>
     <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="myapp"ng-controller="myctrl">

    <div class="container-fluid">
     
   
    
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin flex-row my-5">
           
              <div class="card-body">
                <h5 class="card-title text-center">QUÊN MẬT KHẨU</h5>
                <h6 class="card-title text-center" style="color: royalblue;">Vui lòng nhập email để lấy lại mật khẩu</h6>
    
                <form class="form-signin" name="frmUpdate">
                
    
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" name="email" class="form-control" ng-model="e"placeholder="Email address" required autofocus>
                    <label for="inputEmail"> Địa chỉ Email </label>
                    <div class="badge badge-danger ml-4 mt-2" ng-show="frmUpdate.email.$touched&&frmUpdate.email.$invalid">
                      Nhập Địa chỉ Email
                  </div>
                  </div>
                  
                  <hr>
                  <div class="form-label-group">
                    <input type="text" id="inputUserame" name="user" class="form-control"ng-model="u" placeholder="Username" required >
                    <label for="inputUserame"> Tên Username</label>
                    <div class="badge badge-danger ml-4 mt-2" ng-show="frmUpdate.user.$touched&&frmUpdate.user.$invalid">
                      Nhập  Tên Username
                  </div>
                  </div>
              
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="dn()"type="submit"> Gửi</button>    
                  <hr class="my-4">
                </form>
              </div>
            </div>
          </div>
      
        </div>
     </div>
     <script src="db/Students.js"></script>
     <script>
      
      angular.module("myapp",[]).controller("myctrl",function($scope)
      {
            $scope.dn=function(){
                var e=$scope.e;
                var u=$scope.u;

              
                var tc=false;
                var motsv;
                for(var i=0; i<list.length; i++){
                
             
                    motsv = list[i];

                    if(e==motsv.email &&u==motsv.username){
                        alert("Mật khẩu của bạn là: " + motsv.password);
                        document.location='login.html'
                        break;

                    }
                    else{
                      alert("Email khong ton tai");
                      break;
                    }
                }
          
 
            }
      });
          </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>