<div class="container my-5" id="content">
    <div class="row" ng-show="!inProgress">
        <div class="col text-center">
                <h3></h3>
            <button class="btn btn-primary"ng-click="start()">Bắt đầu Quiz</button>
        </div>
    </div>
 
    <div ng-show="inProgress">
        <div class="row" ng-show="quizOver">
            
            <div class="col text-center">
                <h3>Quiz kết thúc</h3>
                <button class="btn btn-primary"ng-click="reset()">Test lại</button>
            </div>
        </div>
        <div ng-show="!quizOver">
            <div class="row">
                <div class="col text-center">
                    <h2><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{counter | counter | date:'mm:ss'}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card border-info">
                        <div class="card-header text-white" style="background-color: #23B5E1;">
                            <img src="images/logos/ADAV.jpg" width="30" class="border border-primary rounded-lg" alt="">
                            <span>{{subjectName}}</span>
                                <span class="badge badge-success"
                                style="padding: .28em .7em; font-size: 90%; font-weight: 500;">Điểm:
                                {{score}}/10</span>
                                <span class="float-right">Hôm nay:{{homnay| date : "dd/MM/yyyy"}}</span>
                        </div>
                        <div class="card-body">
        
                            <p class="card-text" style="font-weight: 500;">{{question}}
                                <hr>
                                <div class="form-check"ng-repeat="o in options">
                                    
                                    <label class="form-check-label" for="Radios1">
                                    <input class="form-check-input" type="radio" name="answer"  value="{{o.Id}}">
                                        {{o.Text}}
                                    </label>
                                </div>
                            
                            </p>
                        </div>
                        <div class="card-footer">
                            <div ng-show="answerMode">
                                <button class="btn btn-primary"ng-click="checkAnswer()">Gửi</button>
    
                            </div>
                            <div ng-show="!answerMode">
                                <button class="btn btn-primary"ng-click="nextQuestion()">Tiếp</button>
                                <span ng-show="correctAns">Đúng</span>
                                <span ng-show="!correctAns">sai</span>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
  
    
</div>